<?php
/**
 * Namingo Registrar WDRP
 *
 * Written in 2023-2024 by Taras Kondratyuk (https://namingo.org/)
 *
 * @license MIT
*/
    
$config = array(
    'db' => array(
        'host' => 'localhost',
        'username' => getenv('DB_USERNAME'),
        'password' => getenv('DB_PASSWORD'),
        'dbname' => 'registrar',
    ),
    'email' => array(
        'from' => 'no-reply@example.com',
        'reply-to' => 'support@example.com',
        'sender' => 'no-reply@example.com',
        'return-path' => 'no-reply@example.com',
        'subject' => 'Domain Expiration Notice',
        'message' => "Dear Registrant,\n\nThis is a reminder that your domain %s is set to expire on %s. We recommend renewing your domain to avoid any disruptions to your services.\n\nPlease log in to your account and renew your domain or contact our support team for assistance.\n\nBest Regards,\nDomain Registrar Team",
        'smtp' => [
            'host' => 'your_smtp_host',
            'username' => 'your_smtp_username',
            'password' => 'your_smtp_password',
            'encryption' => 'tls',  // or 'ssl'
            'port' => 587,  // or 465 for ssl
        ],
    ),
    'escrow' => array(
        'full' => '/opt/registrar/escrow/full.csv',
        'hdl' => '/opt/registrar/escrow/hdl.csv'
    ),
    'host' => 'epp.example.com',
    'port' => 700,
    'username' => 'epp_username',
    'password' => 'epp_password',
    'ssl_cert' => '/path/to/ssl/cert',
    'ssl_key' => '/path/to/ssl/key',
    'passphrase' => 'ssl_key_passphrase', // Or leave empty ''
    'ssl_cafile' => '/path/to/ssl/cafile', // Or leave empty ''
    'ns1' => 'ns1.registrar.com',
    'ns2' => 'ns2.registrar.com',
    'registrar_url' => 'https://example.com/',
    // URS Configuration
    'urs_imap_host' => '{your_imap_server:993/imap/ssl}INBOX',
    'urs_imap_username' => 'your_username',
    'urs_imap_password' => 'your_password',
);
